.outer {
    display: flex;
    width: inherit;
}

.inner {
    height: 0.5em;
    margin: auto;
}

.help-block{
    margin-bottom: 0px;
}

.help-content{
    margin-bottom: 10px;
}

.help-line{
    background: rgba(0, 0, 0, 0);
    color: #03a9f3;
}
.tooltip-text{
    font-size: 12px;
}
.chargeback-error-tr{
    color: darkorange;

}
.chargeback-success-tr{
    color: green;

}

.chargeback-already-tr{
    color: blueviolet;

}
.rrn-tooltip-box{
    height: 200px;
    text-align: right;
    z-index: 999;
  
}

.rrn-tooltip{
    font-size: 10px;
    line-height: 1.0;
    text-align: right;
    margin-left: 20px;
}

.nav .nav-second-level{
    margin-left: 10px;
}

.total-row{
    color: blueviolet;
    font-weight: bolder;
}