{% load staticfiles %}

<!DOCTYPE html>
<html>
{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'plugins/images/favicon.png' %}">
    <title>FORVARD.ME | Личный кабинет</title>
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/morrisjs/morris.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/datatables/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/datatables/buttons.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/chartist-js/dist/chartist-init.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/jquery-wizard-master/css/wizard.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/footable/css/footable.core.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/toast-master/css/jquery.toast.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/colors/blue-dark.css' %}" id="theme" rel="stylesheet">
    <script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/url.min.js' %}"></script>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
   
</head>
{% endblock %}
<body  class="fix-header">

   <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
{% block content %}
    <div id="wrapper">
    {% block topbar%}
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                  
                    <a class="logo" href="/index">
                        <!-- Logo icon image, you can use font-icon also --><b>
                        <!--This is dark logo icon--><img src="{% static 'plugins/images/admin-logo.png' %}" alt="home" class="dark-logo" /><img src="{% static 'plugins/images/admin-logo-dark.png' %}" alt="home" class="light-logo" />
                     </b>
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                        <!--This is dark logo text--><img src="{% static 'plugins/images/admin-text.png' %}" alt="home" class="dark-logo" /><img src="{% static 'plugins/images/admin-text-dark.png' %}" alt="home" class="light-logo" />
                     </span> </a>
                </div>
                
              
                <ul class="nav navbar-top-links navbar-left">
                    <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="ti-menu"></i></a></li>
          
                
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                 
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"><b class="hidden-xs">{{ request.user.first_name }} {{ request.user.last_name }} </b><span class="caret"></span> </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            {% if user.is_staff %}
                            <li><a href="/admin"><i class="fa fa-gears"></i> Управление</a></li>
                            {% endif %}
                            <li><a href="/logout"><i class="fa fa-power-off"></i> Выход</a></li>
                        </ul>
                      
                    </li>
         
                </ul>
            </div>
         
        </nav>
    {% endblock topbar%}

    {% block sidebar %}
          <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3> </div>
                <div class="user-profile">
                    <div class="dropdown user-pro-body">
                   
                    </div>
                </div>
               
                <ul class="nav" id="side-menu">
                      <ul class="nav nav-second-level">
          		<li> <a href="javascript:void(0)" class="waves-effect"><i class="fa fa-credit-card-alt"></i> <span class="hide-menu">Процессинг<span class="fa arrow"></span></span></a>
			<ul class="nav nav-second-level">
                        	{% if perms.app_lk.transactionR %}
                            	<li> <a href="/processing"><i class="fa fa-database"></i><span class="hide-menu"> Данные процессинга</span></a> </li>
                        	{% endif%}
                        	{% if perms.app_lk.transactionR %}
                           	 <li> <a href="/processing/search"><i class="fa fa-download"></i><span class="hide-menu"> Выгрузка процессинга</span></a> </li>
                        	{% endif%}
			</ul></li>
         <li> <a href="javascript:void(0)" class="waves-effect"><i class="fa fa-hashtag"></i> <span class="hide-menu">Реестр<span class="fa arrow"></span></span></a>

                        <ul class="nav nav-second-level">
                                {% if perms.app_lk.transactionR %}
                                <li> <a href="/registry"><i class="fa fa-database"></i><span class="hide-menu"> Данные реестра</span></a> </li>
                                {% endif%}
                                {% if perms.app_lk.transactionR %}
                                 <li> <a href="/registry/search"><i class="fa fa-download"></i><span class="hide-menu"> Выгрузка реестра</span></a> </li>
                                {% endif%}
                        </ul>
                    </li>
                    <li> <a href="javascript:void(0)" class="waves-effect"><i class="fa fa-code-fork"></i> <span class="hide-menu">Клиринг<span class="fa arrow"></span></span></a>

                        <ul class="nav nav-second-level">
                                {% if perms.app_lk.transactionR %}
                                <li> <a href="/clearing"><i class="fa fa-tags"></i><span class="hide-menu"> События</span></a> </li>
                                {% endif%}
                                {% if perms.app_lk.transactionR %}
                               <!-- <li> <a href="/registry/search"><i class="fa fa-download"></i><span class="hide-menu"> Выгрузка реестра</span></a> </li>--> 
                                {% endif%}
                        </ul>
                    </li>
                    <li> <a href="javascript:void(0)" class="waves-effect"><i class="fa fa-tasks"></i> <span class="hide-menu">Отчеты<span class="fa arrow"></span></span></a>

                        <ul class="nav nav-second-level">
                                {% if perms.app_lk.transactionR %}
                                <li> <a href="/reports/registry"><i class="fa fa fa-hashtag"></i><span class="hide-menu"> По реестру</span></a> </li>
                                {% endif%}
                                {% if perms.app_lk.transactionR %}
                                 <li> <a href="/reports/processing"><i class="fa fa-credit-card-alt"></i><span class="hide-menu"> По процессингу</span></a> </li>
                                 <li> <a href="/reports/raw"><i class="fa fa-credit-card-alt"></i><span class="hide-menu"> По operation_log</span></a> </li>
                                {% endif%}
                        </ul>
                    </li>
                    {% if perms.app_lk.chargebackR %}
                    <li> <a href="javascript:void(0)" class="waves-effect"><i class="fa fa-mail-reply-all"></i> <span class="hide-menu">Chargeback<span class="fa arrow"></span></span></a>

                        <ul class="nav nav-second-level">
                               
                              <!--  <li> <a href="/chargeback"><i class="fa fa-tags"></i><span class="hide-menu"> Index</span></a> </li>-->
                              
                                <li> <a href="/chargeback/check"><i class="fa fa-cloud-upload"></i><span class="hide-menu"> Корректор по RRN</span></a> </li>
                                <li> <a href="/chargeback/log"><i class="fa fa-calendar"></i><span class="hide-menu"> Логгирование RRN-корректора</span></a> </li>
                                <li> <a href="/chargeback/table"><i class="fa fa-bars"></i><span class="hide-menu"> Таблица возвратов</span></a> </li>
                        
                            </ul>
                    </li>
                    {% endif%}




                        {% if perms.app_lk.chargebackR %}
                      <!--    <li> <a href="/chargeback"><i class="fa fa-fast-backward"></i><span class="hide-menu"> Chargeback</span></a> </li>-->  
                        {% endif%}
                        {% if perms.app_lk.cancelR %}
                            <!--<li> <a href="/cancel"><i class="fa fa-ban"></i><span class="hide-menu"> Отмена транзакции</span></a> </li>-->
                        {% endif%}
                        </ul>
                    

                </ul>
                </div>
                </div>

    {% endblock %}

    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">base</h3> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock page %}
    
    
 
{% endblock content %}
{% block footer %}
<footer class="footer text-center"> 2020 &copy; Powered by Forvard | Romanov </footer>
{% endblock %}
  
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/waves.js' %}"></script>
    <script src="{% static 'plugins/bower_components/chartist-js/dist/chartist.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
   <!-- <script src="{% static 'plugins/bower_components/chartist-js/dist/chartist-init.js' %}"></script>-->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/jasny-bootstrap.js' %}"></script>
     <!--<script src="{% static 'plugins/bower_components/Chart.js/chartjs.init.js' %}"></script>-->
    <script src="{% static 'plugins/bower_components/Chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js' %}"></script>
    <script src="{% static 'plugins/bower_components/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/datatables/buttons.flash.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/bower_components/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/datatables/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/tablegroup.js' %}"></script>
    <script src="{% static 'plugins/bower_components/moment/moment.js' %}"></script>
    <script src="{% static 'plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asColor.js' %}"></script>
    <script src="{% static 'plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asGradient.js' %}"></script>
    <script src="{% static 'plugins/bower_components/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'js/clockpickers.js' %}"></script>
    <script src="{% static 'plugins/bower_components/jquery-wizard-master/dist/jquery-wizard.min.js' %}"></script>
    <link href="{% static 'plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.css' %}" rel="stylesheet">
    <script src="{% static 'plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/jquery-wizard-master/libs/formvalidation/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/wizardalerts.js' %}"></script>
    <script src="{% static 'plugins/bower_components/footable/js/footable.all.js' %}"></script>
    <script src="{% static 'plugins/bower_components/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/toast-master/js/jquery.toast.js' %}"></script>
   
    <script src="{% static 'js/footable-init.js' %}"></script>
    <script src="{% static 'plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>

    <script src="{% static '/plugins/bower_components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js' %}"></script>
    
    

  <script>
  $('#reportdatatable').DataTable({
    dom: 'Bfrtip',
    buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
    ]
});    
  </script>

{% block scriptaddons %}

{% endblock %}


</body>
<html>
