{% extends 'base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Корректор по RRN</h3> 
                            <form class="floating-labels ">
                                <div class="form-group m-b-5">
                                    <textarea class="form-control" rows="4" id="rrn_area" name="rrn_area" required>{{ raw_data }}</textarea><span class="highlight"></span> <span class="bar"></span>
                                    <label for="rrn_area"> RRN и сумма</label>
                                </div>
                                <div class="col-lg-2 col-sm-4 col-xs-12">
                                    <button class="btn btn-block btn-primary">Отправить</button>
                                </div>
                            </form>
                            {% if have_results %}
                            
                                <div class="col-lg-2 col-sm-4 col-xs-12">
                                    <button class="btn btn-block btn-success" id="download">Выгрузка</button>
                                </div>
                            
                            {% endif %}

                            
                       <br>
                    </div> 
{% if have_results %}
<div class="white-box">
        <h3 class="box-title m-b-0">Результаты анализа</h3>
        
        <div class="table-responsive" style="min-height: 600px;">
            <table id="reportdatatable" class="display nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>RRN</th>
                        <th>Введенная сумма</th>
                        <th>Реальная сумма</th>
                        <th>Результат проверки</th>
                        <th></th>
                       
                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                            <th>RRN</th>
                            <th>Введенная сумма</th>
                            <th>Реальная сумма</th>
                            <th>Результат проверки</th>
                            <th></th>
                           
                        
                    </tr>
                </tfoot>
                <tbody>
                {% for el in results %}
                    <tr id="{{ el.set.RRN }}" class=
                    {% if el.flag == 1 %}
                    "chargeback-success-tr ch_line"
                    {% elif el.flag == 0 %}
                    "chargeback-error-tr ch_line"
                    {% elif el.flag == 2 %}
                    "chargeback-already-tr ch_line"
                    {% endif %}
                    >
                  
                        <td class="ch_rrn">{{ el.set.RRN }}</td>
                        <td class='ch_ent_amount ref_amount'>{{ el.entered_amount }}</td>
                        <td class='ch_reg_amount ref_amount'>{{ el.set.Amount }}</td>
                        <td>{% if el.flag == 1 %}
                            Верно
                            {% elif el.flag == 0 %}
                            Несовпадение!
                            {% elif el.flag == 2 %}
                            Уже в Chargeback
                            {% endif %}</td>  
                        <td>
                                {% if el.flag != 2 %}
                            <button data-rrn="{{ el.set.RRN }}" data-amount="{{ el.entered_amount }}" data-toggle="modal" data-target="#responsive-modal" type="button" class="btn btn-primary btn-circle editmodal-startbtn"><i class="fa fa-spin fa-cog"></i> </button>
                            {% endif %}
                        </td>
                       
                    </tr>
                {% endfor %}
               
                </tbody>
                <!-- <tr>
                    <td>Итого</td>
                    <td class='ref_amount'></td>
                   
                </tr>-->
            </table>
        </div>
    </div>


{% endif %}

<script>


$('.ref_amount').each(function(){
    if (Number(this.innerText) >= 100){
    this.innerText = (Number(this.innerText)/100).toFixed(2);
    }
    });



</script>
                    </div>
                </div>
            </div>
        </div>


        <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Редактирование суммы для <span id="editmodal-rrn"></span></h4> </div>
                        <div class="modal-body">
                            <form class="floating-labels " method="GET">
                                    {% csrf_token %}
                                <input type='hidden' id="editmodal-mode" name="edit" value="" />
                                <br>
                       
                                <div class="form-group">
                                    <input type="text" class="form-control" name="amount" id="editmodal-amount" required><span class="highlight"></span> <span class="bar"></span>
                                    <label for="editmodal-amount">Amount:</label>
                                 
                                </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Закрыть</button>
                            <button type="submit" id="editmodal-submit" class="btn btn-danger waves-effect waves-light">Сохранить</button>
                        </div></form>
                    </div>
                </div>
            </div>

            <script>
            $('.editmodal-startbtn').click(function(){
                var startbtn = $(this);
                $("#editmodal-rrn").html(startbtn.attr('data-rrn'));
                $("#editmodal-mode").val(startbtn.attr('data-rrn'));
                $("#editmodal-amount").val((Number(startbtn.attr('data-amount'))/100).toFixed(2));
            });
            
            $('#editmodal-submit').click(function(event){
                event.preventDefault();
                var current_rrn = $("#editmodal-rrn").html(); 
                var u = new Url()
                var rrn_area_arr = u.query.rrn_area.split('\n');
                var arr_clear = [];
                rrn_area_arr.forEach(element => {
                    clear_line = element.replace("\r","");
                    split_line = clear_line.split(' ');
                    if(split_line[0]==current_rrn){
                        split_line[1] = $("#editmodal-amount").val();
                    }
                    arr_clear.push(split_line);
                });
                console.log(arr_clear);
                var result = '';
                arr_clear.forEach(element => {
                    result += element.join(' ');
                    result += '\n';
                });
                console.log(result);
                u.query.rrn_area = result;
                document.location.href = u.toString()

            });

            $('#download').click(function(event){
                event.preventDefault();
                var u = new Url()
                u.query.download = "yes";
                console.log(u.toString());
                document.location.href = u.toString();

            });



            
    
    
  
  {% if errors %}
            $(document).ready(function () {
                    $.toast({
            heading: 'Внимание!',
            text: '{{ errors }}',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 3500

        });

    });


    {% endif %}






            </script>
    {% endblock page %}


    