{% extends 'base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                      

<div class="white-box">
        <h3 class="box-title m-b-0">Операции корректировки</h3>
        
        <div class="table-responsive" style="min-height: 600px;">
            <table id="reportdatatable" class="display nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        
                        <th>Время и дата</th>
                        <th>RRN</th>
                        <th>Предыдущая сумма</th>
                        <th>Новая сумма</th>
                        <th>Пользователь</th>
                        <th>IP</th>
                        <th>UA</th>
                       
                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                            
                            <th>Время и дата</th>
                            <th>RRN</th>
                            <th>Предыдущая сумма</th>
                            <th>Новая сумма</th>
                            <th>Пользователь</th>
                            <th>IP</th>
                            <th>UA</th>
                           
                        
                    </tr>
                </tfoot>
                <tbody>
                {% for el in logs %}
                    <tr>
                        
                        <td>{{ el.ActionTimestamp|date:"d.m.Y H:i:s" }}</td>
                        <td>{{ el.EditedRRN }}</td>
                        <td class='ref_amount'>{{ el.EditedAmount }}</td>
                        <td class='ref_amount'>{{ el.NewAmount }}</td>
                        <td>{{ el.UserName }}</td>
                        <td>{{ el.UserIP }}</td>
                        <td>{{ el.UserAgent }}</td>
                       
                    </tr>
                {% endfor %}
               
                </tbody>
             
            </table>
        </div>
    </div>




<script>


$('.ref_amount').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});



</script>
                    </div>
                </div>
            </div>
        </div>


       

         
    {% endblock page %}


    