{% extends 'base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">chargeback</h3> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock page %}