{% extends 'base.html' %}
    {% block page %}
     {% load bootstrap3 %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">События</h3> 
                        
                        



                            <table id="demo-foo-row-toggler" class="table toggle-circle table-hover">
                                <thead>
                                    <tr>
                                        <th data-toggle="true"> Время транзакции </th>
                                        <th> Дата события </th>
                                        <th> RRN </th>
                                        <th> Тип </th>
                                        <th> Статус </th>
                                        <th data-hide="all">Сумма</th> 
                                        <th data-hide="all">OrderID</th>
                                        <th data-hide="all">Тип транзакции</th>
                                        <th data-hide="all">Обновлено</th>
                                        <th data-hide="all">Удалено</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                {% for t in trans %}
                                    <tr>

                                        <td> {{ t.TxnDateTime|date:"d.m.Y H:i:s" }} </td>
                                        <td> {{ t.CreatedAt|date:"d.m.Y H:i:s" }} </td>
                                        <td> {{ t.RRN  }}</td>
                                        <td> {{ t.Type }} </td>
                                        <td> {{ t.Status }} </td>
                                        <td class="ref_amount"> {{ t.Amount }} </td>
                                        <td> {{ t.OrderID }} </td>
                                        <td> {{ t.TxnType }} </td>
                                        <td> {{ t.UpdatedAt|date:"d.m.Y H:i:s" }} </td>
                                        <td> {{ t.DeletedAt|date:"d.m.Y H:i:s" }}</td>
                                        
                                    </tr>
                                {% endfor %}
                              
                          
                                </tbody>
                                
                            </table>
<script>
$('.ref_amount').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
//$('.ref_reparation').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
//$('.ref_tcfee').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
$('.ref_locale').each(function(){
console.log(this.innerText);
var text = this.innerText;
cleartext = text.replace(/,/g,'');
cleartext = cleartext.replace(/\./g,'');
//console.log(cleartext);
var arr = cleartext.split(' ');
//console.log(arr);
var m = arr[0];
var d = arr[1];
var y = arr[2];
var t = arr[3];
if (t == 'midnight'){
t = '00:00';
}
else{
var p = arr[4];
tarr = t.split(':');
var h = tarr[0];
var min = tarr[1];
	if(p == 'pm'){
	h = (Number(h)+12);
	}
t = h + ':' + min + ':00';
}
if (d.length == 1){
d = '0'+d;
}


switch(m){
	case 'Jan':m='01';break;
	case 'Feb':m='02';break;
	case 'Mar':m='03';break;
	case 'Apr':m='04';break;
	case 'May':m='05';break;
	case 'Jun':m='06';break;
	case 'Jul':m='07';break;
	case 'Aug':m='08';break;
	case 'Sep':m='09';break;
	case 'Oct':m='10';break;
	case 'Nov':m='11';break;
	case 'Dec':m='12';break;
	}
//var result = d + '.' + m + '.' + y + ' ' + t;
//console.log(result);
this.innerText = d + '.' + m + '.' + y + ' ' + t;
});

</script>
    
                            {% bootstrap_pagination trans %}





                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock page %}

    
