{% extends 'base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <center><h2 class="box-title">Личный кабинет</h2> </center>
                            
                        </div>
                    </div>
                </div>
                
               <!-- <div class="row">
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title"><span class="mytooltip tooltip-effect-1">
                                <span class="tooltip-item2">Интересные</span>
                                <span class="tooltip-content4 clearfix"> 
                                    <span class="tooltip-text2"> <strong>Ничего себе!</strong></h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">8659</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Красивые</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash2"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">7469</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Полезные</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash3"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info">6011</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Графики</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash4"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-down text-danger"></i> <span class="text-danger">18%</span></li>
                            </ul>
                        </div>
                    </div>
                </div>-->


              <!--  <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title"><small class="pull-right m-t-10 text-success"><i class="fa fa-sort-asc"></i>На 18% выше чем в том месяце!</small> Помогают</h3>
                            <div class="stats-row">
                                <div class="stat-item">
                                    <h6>Это</h6> <b>80.40%</b></div>
                                <div class="stat-item">
                                    <h6>пример</h6> <b>15.40%</b></div>
                                <div class="stat-item">
                                    <h6>интересного</h6> <b>5.50%</b></div>
                            </div>
                            <div id="sparkline8"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title"><small class="pull-right m-t-10 text-danger"><i class="fa fa-sort-desc"></i>Еще на 18% выше чем в том месяце! (только теперь это плохо)</small>Словить</h3>
                            <div class="stats-row">
                                <div class="stat-item">
                                    <h6>графика</h6> <b>80.40%</b></div>
                                <div class="stat-item">
                                    <h6>в</h6> <b>15.40%</b></div>
                                <div class="stat-item">
                                    <h6>личном</h6> <b>5.50%</b></div>
                            </div>
                            <div id="sparkline9"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title"><small class="pull-right m-t-10 text-success"><i class="fa fa-sort-asc"></i>И опять на 18% выше чем в том месяце!</small>Катарсис</h3>
                            <div class="stats-row">
                                <div class="stat-item">
                                    <h6>кабинете</h6> <b>80.40%</b></div>
                                <div class="stat-item">
                                    <h6>для</h6> <b>15.40%</b></div>
                                <div class="stat-item">
                                    <h6>пользователя</h6> <b>5.50%</b></div>
                            </div>
                            <div id="sparkline10"></div>
                        </div>
                    </div>
                </div>
            -->

                <div class="row">


                    {% for p in ByContracts.contracts %}
                    <div class="col-lg-6">
                        <div class="white-box">
                            <h3 class="box-title">Оборот по {{ p }} (млн. руб)</h3>
                            <div class="ct-bar-chart{{forloop.counter0}}" id='{{ p }}' style="height: 400px;"></div>
                        </div>
                    </div>
                    {% endfor %}
              

                    <div class="col-sm-6">
                            <div class="white-box">
                                <h3 class="box-title">Суммарный оборот (млн. руб)</h3>
                                <div class="ct-area-ln-chart" style="height: 400px;"></div>
                            </div>
                        </div>
                </div>


            <!--+++++++++++++++++++++++++++++++++++-->         
            </div>
        </div>
    {% endblock page %}
   
{% block scriptaddons %}
<script>



var options = {
  seriesBarDistance: 10
};

var responsiveOptions = [
  ['screen and (max-width: 640px)', {
    seriesBarDistance: 5,

    axisX: {
      labelInterpolationFnc: function (value) {
        return value[0];
      }
    }
  }]
];

//console.log({{ ByContracts.series }});
{% for p in ByContracts.contracts %}
var data = {
  labels: {% autoescape off %}{{ ByContracts.dates }}{% endautoescape %},
  {% for s in ByContracts.series %}
    {% if s.key == p %}
        series: [{{ s.val }}]
    {% endif %}
  {% endfor %}
};



new Chartist.Bar('.ct-bar-chart{{forloop.counter0}}', data, options, responsiveOptions);
{% endfor %}





// line chart with area

new Chartist.Line('.ct-area-ln-chart', {
  labels: {% autoescape off %}{{ SumGraph.dates }}{% endautoescape %},
  series: [
    {{ SumGraph.val }}
  ]
}, {
  low: 0,

  plugins: [
    Chartist.plugins.tooltip()
  ],
  showArea: true
});


</script>

{% endblock %}