{% load staticfiles %}
<!DOCTYPE html>  
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'plugins/images/favicon.png' %}">
<title>FORWARD.REG | Вход</title>
<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/colors/default.css' %}" id="theme"  rel="stylesheet">
</head>
<body>
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<section id="wrapper" class="new-login-register">
      <div class="lg-info-panel">
              <div class="inner-panel">
                  <a href="javascript:void(0)" class="p-20 di"><img src="{% static 'plugins/images/admin-logo.png' %}"></a>
               
              </div>
      </div>

      <div class="new-login-box">

     
                <div class="white-box">
                    <h3 class="box-title m-b-0">Вход в личный кабинет</h3>
                    <small>Введите учетные данные</small>
                  <form class="form-horizontal new-lg-form" id="loginform" method="POST">
                   {% csrf_token %}
                  <input type="hidden" name="next" value="{{ next }}" />
                    <div class="form-group  m-t-20">
                      <div class="col-xs-12">
                        <label>Логин</label>
                        <input class="form-control" type="text" required="" placeholder="Логин" name="login">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>Пароль</label>
                        <input class="form-control" type="password" required="" placeholder="Пароль" name="password">
                      </div>
                    </div>
                    <div class="form-group">
                      <!--<div class="col-md-12">
                        
                        <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Забыли пароль?</a> </div>
                    </div>-->
                    <div class="form-group text-center m-t-20">
                      <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Вход</button>
                      </div>
                    </div>
                  
                    
                  </form>
                  <form class="form-horizontal" id="recoverform" action="index.html">
                   {% csrf_token %}
                   <input type="hidden" name="next" value="{{ next }}" />
                    <div class="form-group ">
                      <div class="col-xs-12">
                        <h3>Восстановление пароля</h3>
                        <p class="text-muted">Введите свой E-mail и вам будут высланы инструкции по восстановлению </p>
                      </div>
                    </div>
                    <div class="form-group ">
                      <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email">
                      </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                      <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Восстановить</button>
                      </div>
                    </div>
                  </form>
                </div>
      </div>            
  
  
</section>
<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
</body>
</html>
