{% extends 'base.html' %}
    {% block page %}
     {% load bootstrap3 %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Данные процессинга</h3> 
                        
                        



                            <table id="demo-foo-row-toggler" class="table toggle-circle table-hover">
                                <thead>
                                    <tr>
                                        <th data-toggle="true"> Время транзакции </th>
                                        <th> Дата документа </th>
                                        <th> Ор. дата докумета </th>
                                        <th> ID транзакции </th>
                                        <th> ID запроса </th>
                                        <th> RRN </th>
                                        <th data-hide="all">UID</th> 
                                        <th data-hide="all">Контракт</th>
                                        <th data-hide="all">Банк</th>
                                        <th data-hide="all">Номер терминала</th>
                                        <th data-hide="all">Канал</th>
                                        <th data-hide="all">Карточный продукт</th>
                                        <th data-hide="all">Категория запроса</th>
                                        <th data-hide="all">Сумма</th>
                                        <th data-hide="all">Валюта</th> 
                                        <th data-hide="all">Сумма комиссии</th>
                                        <th data-hide="all">Sequence</th>
                                        <th data-hide="all">Сумма возмещения</th>
                                        <th data-hide="all">Номер карты</th>
                                        <th data-hide="all">Код авторизации</th>
                                        <th data-hide="all">Комиссия технолога</th>
                                        <th data-hide="all">Статус сверки</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for t in trans %}
                                    <tr>

                                        <td> {{ t.TxnDateTime|date:"d.m.Y H:i:s" }} </td>
                                        <td> {{ t.DocDate|date:"d.m.Y" }} </td>
                                        <td> {{ t.OrigDate|date:"d.m.Y" }} </td>
                                        <td> {{ t.ID }} </td>
                                        <td> {{ t.OrderID }} </td>
                                        <td> {{ t.RRN  }} </td>
                                        <td> {{ t.UID }} </td>
                                        <td> {{ t.Contract }} </td>
                                        <td> {{ t.Bank }} </td>
                                        <td class='ref_terminal'> {{ t.Terminal }} </td>
                                        <td> {{ t.CardType }}</td>
                                        <td> {{ t.CardProduct }} </td>
                                        <td> {{ t.TxnType }} </td>
                                        <td class='ref_amount'> {{ t.Amount }} </td>
                                        <td> {{ t.Currency }} </td>
                                        <td> {{ t.Fee }} </td>
                                        <td> {{ t.Sequence }} </td>
                                        <td class='ref_reparation'> {{ t.Reparation }} </td>
                                        <td> {{ t.Card }} </td>
                                        <td> {{ t.AuthCode  }} </td>
                                        <td class='ref_tcfee'> {{ t.TcFee  }} </td>
                                        <td> {{ t.VerifyStatus  }} </td>
                                    </tr>
                                {% endfor %}
                              
                          
                                </tbody>
                                
                            </table>
<script>
$('.ref_amount').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
$('.ref_reparation').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
$('.ref_tcfee').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
</script>
    
                            {% bootstrap_pagination trans %}





                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock page %}

    
