{% extends 'base.html' %}
    {% block page %}
     {% load bootstrap3 %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Данные необработанного процессинга (operationlog)</h3> 
                        
                        



                            <table id="demo-foo-row-toggler" class="table toggle-circle table-hover">
                                <thead>
                                    <tr>
                                        <th data-toggle="true"> operationdt </th>
                                        <th> id </th>
                                        <th> client </th>
                                        <th> subclient </th>
                                        <th> gate </th>
                                        <th> state </th>
                                        <th data-hide="all">uuid</th> 
                                        <th data-hide="all">protocol</th>
                                        <th data-hide="all">operation</th>
                                        <th data-hide="all">gateresultcode</th>
                                        <th data-hide="all">gateresultmessage</th>
                                        <th data-hide="all">bin</th>
                                        <th data-hide="all">bindst</th>
                                        <th data-hide="all">route</th>
                                        <th data-hide="all">cardtoken</th> 
                                        <th data-hide="all">orderid</th>
                                        <th data-hide="all">transactionid</th>
                                        <th data-hide="all">intref</th>
                                        <th data-hide="all">authcode</th>
                                        <th data-hide="all">retrefnumber</th>
                                        <th data-hide="all">terminal</th>
                                        <th data-hide="all">terminalrouted</th>
                                        <th data-hide="all">amount</th>
                                        <th data-hide="all">fee</th>
                                        <th data-hide="all">logrefsjson</th>
                                        <th data-hide="all">processingtime</th>
                                        <th data-hide="all">gateresultcode2</th>
                                        <th data-hide="all">gateresultmessage2</th>
                                        <th data-hide="all">pan</th>
                                        <th data-hide="all">country</th>
                                        <th data-hide="all">memberid</th>
                                        <th data-hide="all">name</th>
                                        <th data-hide="all">ch</th>
                                        <th data-hide="all">productcode</th>
                                        <th data-hide="all">productname</th>
                                        <th data-hide="all">usg</th>
                                        <th data-hide="all">pandst</th>
                                        <th data-hide="all">countrydst</th>
                                        <th data-hide="all">memberiddst</th>
                                        <th data-hide="all">namedst</th>
                                        <th data-hide="all">chdst</th>
                                        <th data-hide="all">productcodedst</th>
                                        <th data-hide="all">productnamedst</th>
                                        <th data-hide="all">usgdst</th>
                                        <th data-hide="all">orderid</th>
                                        <th data-hide="all">sequencenumber</th>
                                        <th data-hide="all">resendcount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for t in trans %}
                                    <tr>




                                        <td>{{t.operationdt }}</td>
                                        <td>{{t.id }}</td>
                                        <td>{{t.client }}</td>
                                        <td>{{t.subclient }}</td>
                                        <td>{{t.gate }}</td>
                                        <td>{{t.state }}</td>
                                        <td>{{t.uuid}}</td> 
                                        <td>{{t.protocol}}</td>
                                        <td>{{t.operation}}</td>
                                        <td>{{t.gateresultcode}}</td>
                                        <td>{{t.gateresultmessage}}</td>
                                        <td>{{t.bin}}</td>
                                        <td>{{t.bindst}}</td>
                                        <td>{{t.route}}</td>
                                        <td>{{t.cardtoken}}</td> 
                                        <td>{{t.orderid}}</td>
                                        <td>{{t.transactionid}}</td>
                                        <td>{{t.intref}}</td>
                                        <td>{{t.authcode}}</td>
                                        <td>{{t.retrefnumber}}</td>
                                        <td>{{t.terminal}}</td>
                                        <td>{{t.terminalrouted}}</td>
                                        <td>{{t.amount}}</td>
                                        <td>{{t.fee}}</td>
                                        <td>{{t.logrefsjson}}</td>
                                        <td>{{t.processingtime}}</td>
                                        <td>{{t.gateresultcode2}}</td>
                                        <td>{{t.gateresultmessage2}}</td>
                                        <td>{{t.pan}}</td>
                                        <td>{{t.country}}</td>
                                        <td>{{t.memberid}}</td>
                                        <td>{{t.name}}</td>
                                        <td>{{t.ch}}</td>
                                        <td>{{t.productcode}}</td>
                                        <td>{{t.productname}}</td>
                                        <td>{{t.usg}}</td>
                                        <td>{{t.pandst}}</td>
                                        <td>{{t.countrydst}}</td>
                                        <td>{{t.memberiddst}}</td>
                                        <td>{{t.namedst}}</td>
                                        <td>{{t.chdst}}</td>
                                        <td>{{t.productcodedst}}</td>
                                        <td>{{t.productnamedst}}</td>
                                        <td>{{t.usgdst}}</td>
                                        <td>{{t.orderid}}</td>
                                        <td>{{t.sequencenumber}}</td>
                                        <td>{{t.resendcount}}</td>



<!--

                                        <td> {{ t.TxnDateTime|date:"d.m.Y H:i:s" }} </td>
                                        <td> {{ t.DocDate|date:"d.m.Y" }} </td>
                                        <td> {{ t.OrigDate|date:"d.m.Y" }} </td>
                                        <td> {{ t.ID }} </td>
                                        <td> {{ t.OrderID }} </td>
                                        <td> {{ t.RRN  }} </td>
                                        <td> {{ t.UID }} </td>
                                        <td> {{ t.Contract }} </td>
                                        <td> {{ t.Bank }} </td>
                                        <td class='ref_terminal'> {{ t.Terminal }} </td>
                                        <td> {{ t.CardType }}</td>
                                        <td> {{ t.CardProduct }} </td>
                                        <td> {{ t.TxnType }} </td>
                                        <td class='ref_amount'> {{ t.Amount }} </td>
                                        <td> {{ t.Currency }} </td>
                                        <td> {{ t.Fee }} </td>
                                        <td> {{ t.Sequence }} </td>
                                        <td class='ref_reparation'> {{ t.Reparation }} </td>
                                        <td> {{ t.Card }} </td>
                                        <td> {{ t.AuthCode  }} </td>
                                        <td class='ref_tcfee'> {{ t.TcFee  }} </td>
                                        <td> {{ t.VerifyStatus  }} </td>-->
                                    </tr>
                                {% endfor %}
                              
                          
                                </tbody>
                                
                            </table>
<script>
$('.ref_amount').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
$('.ref_reparation').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
$('.ref_tcfee').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
</script>
    
                            {% bootstrap_pagination trans %}





                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock page %}

    
