{% extends 'base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <center><h3 class="box-title">Выгрузка реестра</h3> </center>
                           
                        </div>
                    </div>
                </div>


<script>
$("#form_check_btn").click( function(event){
    event.preventDefault();
    var htm;
    htm = "Дата: "+$("#form_date").val()+"<br>Время: с "+$("#form_time1").val()+" по "+$("#form_time2").val()+"<br>Если данные верны, нажмите на кнопку <strong>ОТПРАВИТЬ ЗАПРОС</strong><br><br>";
    $("#form_check_div").html(htm);
    $("#form_submit_btn").removeClass("hidden");


});


</script>

<!--newsearch-->
<div class="row">
<div class="col-lg-12">

<div class="white-box">
<h3 class="box-title m-b-0">Опции поиска</h3>

<form action="" method="get" id="registry_form">
{% csrf_token %}
<input type="hidden" name="mode" value="search" />

<div class="checkbox checkbox-success">
	<input id="checkbox1" type="checkbox" name="search1" value="yes" />
        <label for="checkbox1">Дата и время транзакций </label>
	<div class="search_field " id="field1">
	<label class="m-t-20">Дата</label>
	<input class="form-control input-daterange-datepicker" id="search_date" type="text" name="search_daterange" value="10/22/2019 - 10/23/2019" /> 
	<label class="m-t-20">Время начала</label>
	<div class="input-group clockpicker">
	<input type="text" class="form-control" name="search_time1" id="search_time1" value="00:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
	</div>
	<label class="m-t-20">Время окончания</label>
	<div class="input-group clockpicker">
	<input type="text" class="form-control" name="search_time2" id="search_time2" value="23:59"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
	</div>	</div>
</div>

<div class="checkbox checkbox-success">
        <input id="checkbox2" type="checkbox">
        <label for="checkbox2">Контракт </label>
        <div class="search_field" id="field2">
	<input type="text" id="search_input_1" name="contract" class="form-control" placeholder="Номер контракта">
        </div>

</div>

<div class="checkbox checkbox-success">
        <input id="checkbox3" type="checkbox">
        <label for="checkbox3">Дата документа </label>
        <div class="search_field" id="field3">
	<div class="input-group">
        <input type="text" class="form-control" id="datepicker-autoclose" name="docdate" placeholder="mm/dd/yyyy"> <span class="input-group-addon"><i class="icon-calender"></i></span>
        </div>
        </div>

</div>

<div class="checkbox checkbox-success">
        <input id="checkbox4" type="checkbox">
        <label for="checkbox4">Терминал </label>
        <div class="search_field" id="field4">
	<input type="text" id="search_input_2" name="terminal" class="form-control" placeholder="Номер терминала">
        </div>

</div>

<div class="checkbox checkbox-success">
        <input id="checkbox5" type="checkbox">
        <label for="checkbox5"> ID транзакции </label>
        <div class="search_field" id="field5">
	<input type="text" id="search_input_3" name="idtran" class="form-control" placeholder="ID транзакции ">
        </div>

</div>

<div class="checkbox checkbox-success">
        <input id="checkbox6" type="checkbox">
        <label for="checkbox6">OrderID </label>
        <div class="search_field" id="field6">
        <input type="text" id="search_input_4" name="orderid" class="form-control" placeholder="Order ID">

        </div>

</div>

<div class="checkbox checkbox-success">
        <input id="checkbox7" type="checkbox">
        <label for="checkbox7">RRN </label>
        <div class="search_field" id="field7">
        <input type="text" id="search_input_4" name="rrn" class="form-control" placeholder="RRN">

        </div>

</div>

<div class="checkbox checkbox-success">
        <input id="checkbox8" type="checkbox">
        <label for="checkbox8">SequenceNumber </label>
        <div class="search_field" id="field8">
        <input type="text" id="search_input_5" name="sec" class="form-control" placeholder="">

        </div>

</div>


<div class="checkbox checkbox-success">
        <input id="checkbox9" type="checkbox">
        <label for="checkbox9">VerifyStatus </label>
        <div class="search_field" id="field9">
        <input type="text" id="search_input_6" name="verstatus" class="form-control" placeholder="">

        </div>

</div>


<!--<button type="submit"> djwdhujw </button>-->
<div class="col-lg-6 col-sm-6 col-xs-12">
	<button class="btn btn-block btn-outline btn-primary" id="search_check_btn">Проверка</button>
</div>
<div class="col-lg-6 col-sm-6 col-xs-12">
        <button type="submit" class="btn btn-block btn-outline btn-info hidden" id="search_submit_btn">Поиск</button>
</div>
<br><br><br>

</form>
</div>
</div>
</div>
<script>
$('.search_field').hide();


$('#checkbox1').click(function(){if ($(this).is(':checked')){$('#field1').show(100);}else{$('#field1').hide(100);}}); 
$('#checkbox2').click(function(){if ($(this).is(':checked')){$('#field2').show(100);}else{$('#field2').hide(100);}}); 
$('#checkbox3').click(function(){if ($(this).is(':checked')){$('#field3').show(100);}else{$('#field3').hide(100);}}); 
$('#checkbox4').click(function(){if ($(this).is(':checked')){$('#field4').show(100);}else{$('#field4').hide(100);}}); 
$('#checkbox5').click(function(){if ($(this).is(':checked')){$('#field5').show(100);}else{$('#field5').hide(100);}}); 
$('#checkbox6').click(function(){if ($(this).is(':checked')){$('#field6').show(100);}else{$('#field6').hide(100);}}); 
$('#checkbox7').click(function(){if ($(this).is(':checked')){$('#field7').show(100);}else{$('#field7').hide(100);}}); 
$('#checkbox8').click(function(){if ($(this).is(':checked')){$('#field8').show(100);}else{$('#field8').hide(100);}}); 
$('#checkbox9').click(function(){if ($(this).is(':checked')){$('#field9').show(100);}else{$('#field9').hide(100);}}); 

$("#search_check_btn").click( function(event){
    event.preventDefault();
    var count = $(':checkbox:checked').length;
    if(count==0){

		}
    else{
    $("#search_submit_btn").removeClass("hidden");
}

});


</script>




<!--ENDnewsearch-->
{% if trans != None %}
 <div class="row">
                    <div class="col-lg-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Результат запроса</h3>
                           
                           
                                 <table id="demo-foo-row-toggler" class="table toggle-circle table-hover">
                                <thead>
             <tr>
                                        <th data-toggle="true"> Время транзакции </th>
                                        <th> Дата документа </th>
                                        <th> Ор. дата докумета </th>
                                        <th> ID транзакции </th>
                                        <th> ID запроса </th>
                                        <th> RRN </th>
                                        <th data-hide="all">UID</th>
                                        <th data-hide="all">Контракт</th>
                                        <th data-hide="all">Организация</th>
                                        <th data-hide="all">Номер терминала</th>
                                        <th data-hide="all">Канал</th>
                                        <th data-hide="all">Тип запроса</th>
                                        <th data-hide="all">Категория запроса</th>
                                        <th data-hide="all">Сумма</th>
                                        <th data-hide="all">Комиссия</th>
                                        <th data-hide="all">Gate</th>
                                        <th data-hide="all">Sequence</th>
                                        <th data-hide="all">Сумма возмещения</th>
                                        <th data-hide="all">Номер карты</th>
                                        <th data-hide="all">Код авторизации</th>
                                        <th data-hide="all">Комиссия технолога</th>
                                        <th data-hide="all">Статус сверки</th>
                                        <th data-hide="all">ReportID</th>
                                        <th data-hide="all">ARN</th>


                                    </tr>
                                </thead>

                         <tbody>
                                {% for t in trans %}
                                    <tr>

                                        <td> {{ t.TxnDateTime|date:"d.m.Y H:i:s" }} </td>
                                        <td> {{ t.DocDate|date:"d.m.Y" }} </td>
                                        <td> {{ t.OrigDate|date:"d.m.Y" }} </td>
                                        <td> {{ t.ID }} </td>
                                        <td> {{ t.OrderID }} </td>
                                        <td> {{ t.RRN  }} </td>
                                        <td> {{ t.UID }} </td>
                                        <td> {{ t.Contract }} </td>
                                        <td> {{ t.Organisation }} </td>
                                        <td class='ref_terminal'> {{ t.Terminal }} </td>
                                        <td> {{ t.TxnChannel }}</td> <!---->
                                        <td> {{ t.TypeOfRequest }} </td><!---->
                                        <td> {{ t.TxnType }} </td>
                                        <td class='ref_amount'> {{ t.Amount }} </td>
                                        <td class='ref_commission'> {{ t.Commission }} </td>
                                        <td> {{ t.Gate }} </td>
                                        <td> {{ t.Sequence }} </td>
                                        <td class='ref_reparation'> {{ t.Reparation }} </td>
                                        <td> {{ t.Card }} </td>
                                        <td> {{ t.AuthCode  }} </td>
                                        <td class='ref_tcfee'> {{ t.TecCommission }} </td>
                                        <td> {{ t.VerifyStatus }} </td>
                                        <td> {{ t.ReportID }} </td>
                                        <td> {{ t.ARN }} </td>

                                    </tr>
                                {% endfor %}


                                </tbody>

                                
                            </table>
                            {% load bootstrap3 %}











                             {% bootstrap_pagination trans %}
                        </div>
                    </div>
                </div>
{% endif %}
<!--***-->

<script>

    var sPageURL = decodeURIComponent(window.location.search.substring(1));
    sPageURL = sPageURL.replace(/page=\d*&/g,'');
  
    $(".pagination li a").each(function(indx){
       var link = $(this).attr("href");
       if(link!=undefined){
        var newlink = link+'&'+sPageURL;
        $(this).attr("href", newlink);
       }
    });


$('.ref_amount').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
$('.ref_reparation').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
$('.ref_tcfee').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
$('.ref_commission').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});

$('.ref_locale').each(function(){
//console.log(this.innerText);
var text = this.innerText;
cleartext = text.replace(/,/g,'');
cleartext = cleartext.replace(/\./g,'');
//console.log(cleartext);
var arr = cleartext.split(' ');
//console.log(arr);
var m = arr[0];
var d = arr[1];
var y = arr[2];
var t = arr[3];
if (t == 'midnight'){
t = '00:00';
}
else{
var p = arr[4];
tarr = t.split(':');
var h = tarr[0];
var min = tarr[1];
        if(p == 'pm'){
        h = (Number(h)+12);
        }
t = h + ':' + min + ':00';
}
if (d.length == 1){
d = '0'+d;
}

switch(m){
        case 'Jan':m='01';break;
        case 'Feb':m='02';break;
        case 'Mar':m='03';break;
        case 'Apr':m='04';break;
        case 'May':m='05';break;
        case 'Jun':m='06';break;
        case 'Jul':m='07';break;
        case 'Aug':m='08';break;
        case 'Sep':m='09';break;
        case 'Oct':m='10';break;
        case 'Nov':m='11';break;
        case 'Dec':m='12';break;
        }
//var result = d + '.' + m + '.' + y + ' ' + t;
//console.log(result);
this.innerText = d + '.' + m + '.' + y + ' ' + t;
});






$('.ref_locale2').each(function(){
//console.log(this.innerText);
var text = this.innerText;
cleartext = text.replace(/,/g,'');
cleartext = cleartext.replace(/\./g,'');
//console.log(cleartext);
var arr = cleartext.split(' ');
//console.log(arr);
var m = arr[0];
var d = arr[1];
var y = arr[2];
var t = arr[3];
if (t == 'midnight'){
t = '00:00';
}
else{
var p = arr[4];
tarr = t.split(':');
var h = tarr[0];
var min = tarr[1];
        if(p == 'pm'){
        h = (Number(h)+12);
        }
t = h + ':' + min + ':00';
}
if (d.length == 1){
d = '0'+d;
}

switch(m){
        case 'Jan':m='01';break;
        case 'Feb':m='02';break;
        case 'Mar':m='03';break;
        case 'Apr':m='04';break;
        case 'May':m='05';break;
        case 'Jun':m='06';break;
        case 'Jul':m='07';break;
        case 'Aug':m='08';break;
        case 'Sep':m='09';break;
        case 'Oct':m='10';break;
        case 'Nov':m='11';break;
        case 'Dec':m='12';break;
        }
//var result = d + '.' + m + '.' + y + ' ' + t;
//console.log(result);
this.innerText = d + '.' + m + '.' + y;
});



</script>





       
              



                      
                </div>
            </div>


    {% endblock page %}
