{% extends 'base.html' %}
    {% block page %}
     {% load bootstrap3 %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Данные реестра</h3> 
                        
                        



                            <table id="demo-foo-row-toggler" class="table toggle-circle table-hover">
                                <thead>
                                    <tr>
                                        <th data-toggle="true"> Время транзакции </th>
                                        <th> Дата документа </th>
                                        <th> Ор. дата докумета </th>
                                        <th> ID транзакции </th>
                                        <th> ID запроса </th>
                                        <th> RRN </th>
                                        <th data-hide="all">UID</th> 
                                        <th data-hide="all">Контракт</th>
                                        <th data-hide="all">Организация</th>
                                        <th data-hide="all">Номер терминала</th>
                                        <th data-hide="all">Канал</th>
                                        <th data-hide="all">Тип запроса</th>
                                        <th data-hide="all">Категория запроса</th>
                                        <th data-hide="all">Сумма</th>
                                        <th data-hide="all">Комиссия</th> 
                                        <th data-hide="all">Gate</th>
                                        <th data-hide="all">Sequence</th>
                                        <th data-hide="all">Сумма возмещения</th>
                                        <th data-hide="all">Номер карты</th>
                                        <th data-hide="all">Код авторизации</th>
                                        <th data-hide="all">Комиссия технолога</th>
                                        <th data-hide="all">Статус сверки</th>
					<th data-hide="all">ReportID</th>
					<th data-hide="all">ARN</th>


                                    </tr>
                                </thead>
                                <tbody>
                                {% for t in trans %}
                                    <tr>

                                        <td> {{ t.TxnDateTime|date:"d.m.Y H:i:s" }} </td>
                                        <td> {{ t.DocDate|date:"d.m.Y" }} </td>
                                        <td> {{ t.OrigDate|date:"d.m.Y" }} </td>
                                        <td> {{ t.ID }} </td>
                                        <td> {{ t.OrderID }} </td>
                                        <td> {{ t.RRN  }} </td>
                                        <td> {{ t.UID }} </td>
                                        <td> {{ t.Contract }} </td>
                                        <td> {{ t.Organisation }} </td>
                                        <td class='ref_terminal'> {{ t.Terminal }} </td>
                                        <td> {{ t.TxnChannel }}</td> <!---->
                                        <td> {{ t.TypeOfRequest }} </td><!---->
                                        <td> {{ t.TxnType }} </td>
                                        <td class='ref_amount'> {{ t.Amount }} </td>
                                        <td class='ref_commission'> {{ t.Commission }} </td>
                                        <td> {{ t.Gate }} </td>
                                        <td> {{ t.Sequence }} </td>
                                        <td class='ref_reparation'> {{ t.Reparation }} </td>
                                        <td> {{ t.Card }} </td>
                                        <td> {{ t.AuthCode  }} </td>
                                        <td class='ref_tcfee'> {{ t.TecCommission }} </td>
                                        <td> {{ t.VerifyStatus }} </td>
					<td> {{ t.ReportID }} </td>
					<td> {{ t.ARN }} </td>

                                    </tr>
                                {% endfor %}
                              
                          
                                </tbody>
                                
                            </table>
<script>
$('.ref_amount').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
$('.ref_reparation').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
$('.ref_tcfee').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
$('.ref_commission').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});
$('.ref_locale').each(function(){
//console.log(this.innerText);
var text = this.innerText;
cleartext = text.replace(/,/g,'');
cleartext = cleartext.replace(/\./g,'');
//console.log(cleartext);
var arr = cleartext.split(' ');
//console.log(arr);
var m = arr[0];
var d = arr[1];
var y = arr[2];
var t = arr[3];
if (t == 'midnight'){
t = '00:00';
}
else{
var p = arr[4];
tarr = t.split(':');
var h = tarr[0];
var min = tarr[1];
	if(p == 'pm'){
	h = (Number(h)+12);
	}
t = h + ':' + min + ':00';
}
if (d.length == 1){
d = '0'+d;
}


switch(m){
	case 'Jan':m='01';break;
	case 'Feb':m='02';break;
	case 'Mar':m='03';break;
	case 'Apr':m='04';break;
	case 'May':m='05';break;
	case 'Jun':m='06';break;
	case 'Jul':m='07';break;
	case 'Aug':m='08';break;
	case 'Sep':m='09';break;
	case 'Oct':m='10';break;
	case 'Nov':m='11';break;
	case 'Dec':m='12';break;
	}
//var result = d + '.' + m + '.' + y + ' ' + t;
//console.log(result);
this.innerText = d + '.' + m + '.' + y + ' ' + t;
});

</script>
    
                            {% bootstrap_pagination trans %}





                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock page %}

    
