{% extends 'base.html' %}
    {% block page %}



         <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Отчеты по процессингу </h3>

                            <div class="white-box row outer help-block">
                                    <div class="col-xs-12">
                                <span class="mytooltip tooltip-effect-2 "> 
                                        <span class="tooltip-item help-line"><i class="fa fa-question"></i> Наведите для справки</span>
                                         <span class="tooltip-content clearfix help-content">
                                         <img src="/static/plugins/images/tooltip/chinadad.jpg" /> 
                                         <span class="tooltip-text">Для запроса просто выберите дату и тип запроса. Если отчет за месяц, он просто возьмет номер месяца из указанной даты
                                    </span> </span> </span>
                                 </div>
                                </div>

                            <div class="white-box">
                                <div class="input-group row outer">
                                    <form action="" method="get" id="report_form">
                                        {% csrf_token %}
                                        <input type="hidden" name="mode" id="rep_mode" value="" />
                                        <div class="col-xs-12 col-md-5 inner">
                                            <input type="text" class="form-control" id="datepicker-autoclose" placeholder="Выберите дату" name="date" required /> 
                                        </div>
                                        <div class="btn-group col-xs-12 col-md-5 inner">
                                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-info dropdown-toggle waves-effect waves-light" type="button">
                                                
                                                Вид отчета 
                                                
                                                <span class="caret">

                                                </span></button>
                                            <ul role="menu" class="dropdown-menu animated flipInX">
                                                <li><a href="" class="report_btn" id="sum_rep_month">Суммарный оборот за месяц</a></li>
                                                <li><a href="" class="report_btn" id="rep_month">Оборот за месяц</a></li>
                                                <li><a href="" class="report_btn" id="rep_day">Оборот за день</a></li>
                                            </ul>
                                            
                                           

                                        </div>

                                        <div class="col-xs-12 col-md-2 inner">
                                          
                                        </div>

                                     </form>
                                </div>


                                

                            </div>
                           


                            {% if mode == 'sum_rep_month' %}
                            
                                <div class="white-box">
                                    <h3 class="box-title m-b-0">Отчет</h3>
                                    
                                    <div class="table-responsive">
                                        <table id="reportdatatable" class="display nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Дата</th>
                                                    <th>Оборот</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Дата</th>
                                                    <th>Оборот</th>
                                                    
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            {% for r in report %}
                                                <tr>
                                                    <td>{{ r.DocDate|date:"d.m.Y"  }}</td>
                                                    <td class='ref_amount'>{{ r.sum }}</td>
                                                   
                                                </tr>
                                            {% endfor %}
                                           
                                            </tbody> <tr class="total-row">
                                                <td>Итого</td>
                                                <td class='ref_amount'>{{ total }}</td>
                                               
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                          
                            {% endif %}



                            {% if mode == 'rep_month' %}
                            
                            <div class="white-box">
                                <h3 class="box-title m-b-0">Отчет</h3>
                                
                                <div class="table-responsive">
                                    <table id="reportdatatable" class="display nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Дата</th>
                                                {% for p in result.params %}
                                                <th>{{ p }}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Дата</th>
                                                {% for p in result.params %}
                                                <th>{{ p }}</th>
                                                {% endfor %}
                                                
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for r in result.report %}
                                            <tr>
                                                <td>{{ r.DocDate|date:"d.m.Y"  }}</td>

                                                
                                                    {% for a in r.amount %}
                                                       
                                                            <td class='ref_amount'>{{ a.sum }}</td>
                                                        
                                                    {% endfor %}

                                                
                                            </tr>
                                        {% endfor %}
                                       
                                        </tbody> <tr  class="total-row">
                                            <td>Итого</td>
                                            {% for p in result.params %}
                                                {% for t in result.total %}
                                                    {% if t.key == p %}
                                                        <td class='ref_amount'>{{ t.val }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            
                                           
                                        </tr>
                                    </table>
                                </div>
                            </div>
                      
                        {% endif %}

                        {% if mode == 'rep_day' %}
                            
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Отчет</h3>
                            
                            <div class="table-responsive">
                                <table id="reportdatatable" class="display nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Терминал</th>
                                            <th>Оборот</th>
                                            
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Терминал</th>
                                            <th>Оборот</th>
                                            
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for r in report %}
                                        <tr>
                                            <td>{{ r.Terminal  }}</td>
                                            <td class='ref_amount'>{{ r.sum }}</td>
                                           
                                        </tr>
                                    {% endfor %}
                                    
                                    </tbody><tr  class="total-row">
                                        <td>Итого за день</td>
                                        <td class='ref_amount'>{{ total }}</td>
                                       
                                    </tr>
                                </table>
                            </div>
                        </div>
                  
                    {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


<script>
$('.ref_amount').each(function(){this.innerText = (Number(this.innerText)/100).toFixed(2);});

$('.report_btn').click(function(e){
    e.preventDefault();
    $('#rep_mode').val($(this).attr('id'));
    console.log($('#datepicker-autoclose').val());
    $('#report_form').submit();
    });     


</script>

    {% endblock page %}